<!doctype html>
<html xmlns:ng="http://angularjs.org/">
<head>
  <meta charset="utf-8">
  <title>Angular Rails Demo</title>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">
    var photographers_template = "<%= asset_path('photographers.html') %>";
    var galleries_template = "<%= asset_path('galleries.html') %>";
    var photos_template = "<%= asset_path('photos.html') %>";
  </script>
</head>
<body ng:controller="PhotoGalleryCtrl">

  <ng:view></ng:view>

  <script src="/assets/angular.min.js" ng:autobind></script>
  <%= javascript_include_tag "application" -%>
</body>
</html>
